/* General Style */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 25px;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
  font-weight: 400;
}


/* Genral Classes */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;

}

.text-primary {
  color: #E50914;
  display: inline-block;
  font-weight: 400;

}
.color-light {
  background: #f4f4f4;
  color: #333;
  font-size: 20px;
}

.color-red {
  background: rgba(229, 9, 20, 0.75);
  font-size: 20px;
}

/* Navbar */
#navbar {
  background: #f4f4f4;
  color: #333;
  overflow: auto;
}

#NETEK
{
  color: #E50914;
}

#navbar a {
  color: #333;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
  font-weight: 300;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: rgba(213, 211, 211, 0.35);
  color: #E50914;
}

/* INDEX PAGE*/
/* Image Cover */
#cover {
  background:url("/static/al-netek.jpg") no-repeat top center/cover;
height: 600px;
  position: relative;

}

#cover #cover-content {
  position: absolute;
  top:70%;
  right: 35%;
  text-align: center ;

}
#welcome-text
{
  font-weight: 100;
  color: #333333;
  font-size: 80px;
  background-color: rgba(244, 244, 244, 0.65);
  padding:3px;
  border-radius: 3px;


}


/* Services */

.service-box {
  float: left;
  width: 33.33333333333%;
  padding: 50px;
  text-align:center;
}

.service-box i {
  margin-bottom: 10px;
}

/* END OF INDEX PAGE STYLING*/
/*BACKGROUNDS*/
#query-page
{
  background:url("/static/background2.jpg")  no-repeat top center/cover;
}
#record-page
{

  background:url("/static/background3.jpg")  no-repeat top center/cover;
}
#rank-page
{
  background:url("/static/background4.jpg")  no-repeat top center/cover;
}
/*BACKGROUNDS*/

/*CONTENT PAGE STYLING*/
#box
{
  font-weight: 400;
  display: inline-block;
  padding: 20px;
  margin-bottom: 5px;
  background-color: rgba(244, 244, 244, 0.75);
  border: solid rgba(229, 9, 20, 0.4) 2px;

}
#box-title
{
  font-weight: 300;
  padding: 0;
   margin-bottom:15px ;
}
#title h1
{
  font-size: 45px;
  color: #f4f4f4;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;

}
#input-box
{
  padding: 1px;
  text-align: center;
}
#input-box input
{
  display: block;
  margin: auto;
  width: 80%;

}
select{
   display: block;
  margin: auto;
  width: 80%;
}

#input-box label
{
  display: block;
  margin: auto;
}

#box table
{

  margin: auto;
}
#box table th
{
  font-weight: 300;
  font-size: 20px;
  padding: 3px;
}
#box table td
{
  text-align: center;
  padding:3px;
}
#submitbtn
{
  display: block;
  margin: auto;
  padding: 3px;
  background-color: rgba(229, 9, 20, 0.8);
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
  margin-top:10px ;
	border-radius:2px;
	cursor:pointer;
}