{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to AL-NETEK!</title>
</head>
<body>

<script src="https://kit.fontawesome.com/7ce0912b14.js" crossorigin="anonymous"></script>
  <header>
    <nav id="navbar">
      <div class="container">
        <h1 class="logo"><a href="index.html"><i class="fas fa-tv " id="NETEK"> </i> AL-</a><a href="index.html" >NETEK.</a></h1>
        <ul>
          <li><a class="current" href="index">Home</a></li>
          <li><a href="Query">Query Result</a></li>
          <li><a href="Records">Records Management</a></li>
            <li><a href="Rankings">Rankings</a></li>
        </ul>
      </div>
    </nav>

    <div id="showcase">
      <div class="container">
          <div class="showcase-content">
          <h1><span class="text-primary">Weclome To</span> ALNETEK</h1>
        </div>
      </div>
    </div>
  </header>



  <section id="features">
    <div class="box bg-light">
        <i class="fas fa-info fa-3x"></i>
      <h3>Query Results</h3>
      <p>Discover the latest information about our programs</p>

    </div>
    <div class="box bg-primary">
        <i class="fas fa-exchange-alt fa-3x"></i>
        <h3>Record Management</h3>
        <p>Exchange programs easily across a range of genres</p>

    </div>
    <div class="box bg-light">
        <i class="fas fa-percentage fa-3x"></i>
        <h3>Rankings</h3>
        <p>Help us improve our ranking of TV programs by rating your favorites</p>
    </div>
  </section>

  <div class="clr"></div>


</body>
</html>