{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to AL-NETEK!</title>
</head>
<body>

<script src="https://kit.fontawesome.com/7ce0912b14.js" crossorigin="anonymous"></script>
  <header>
    <nav id="navbar">
      <div class="container">

        <h1 class="logo"><a href="index"><i class="fas fa-tv " id="NETEK"> </i> AL-</a><a href="index" >NETEK.</a></h1>
        <ul>
          <li><a class="current" href="index">Home</a></li>
          <li><a href="Query">Query Result</a></li>
          <li><a href="Records">Records Management</a></li>
            <li><a href="Rankings">Rankings</a></li>
        </ul>
      </div>
    </nav>

    <div id="cover">

      <div class="container">
          <div id="cover-content">
          <span id="welcome-text"><span class="text-primary">Weclome To</span> ALNETEK.</span>
        </div>
      </div>
    </div>
  </header>

   <section>
    <div class="service-box color-light">
        <i class="fas fa-info fa-3x"></i>
      <h3>Query Results</h3>
      <p>Discover the latest information about our programs</p>

    </div>
    <div class="service-box color-red">
        <i class="fas fa-exchange-alt fa-3x"></i>
        <h3>Record Management</h3>
        <p>Exchange programs easily across a range of genres</p>

    </div>
    <div class="service-box color-light">
        <i class="fas fa-percentage fa-3x"></i>
        <h3>Rankings</h3>
        <p>Help us improve our content by rating your favorites</p>
    </div>
  </section>
</body>
</html>