{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Al-Netek!</title>
</head>
<body>

<script src="https://kit.fontawesome.com/7ce0912b14.js" crossorigin="anonymous"></script>
  <header>
    <nav id="navbar">
      <div class="container">
        <h1 class="logo"><a href="index.html"><i class="fas fa-tv " id="NETEK"> </i> AL-</a><a href="index.html" >NETEK.</a></h1>
        <ul>
          <li><a  href="index">Home</a></li>
          <li><a class="current" href="Query">Query Result</a></li>
          <li><a href="Records">Records Management</a></li>
            <li><a href="Rankings">Rankings</a></li>
        </ul>
      </div>
    </nav> </header>
<div class="container">
       <h5>Genre Statistics:</h5>
       <table border="=1" >
    <th>Genre</th>
    <th>Title</th>
    <th>Duration</th>
        {% for item in sql_res%}
            <tr>
            <td>{{ item.genre }} </td>
            <td>{{ item.Title }} </td>
            <td>{{ item.Duration }} </td>
            </tr>
        {% endfor %}
</table>

<h5>Genre Statistics:</h5>
       <table border="=1" >
    <th>Title</th>
    <th>Average Rank</th>
        {% for Movies in sql_res2%}
            <tr>
            <td>{{ Movies.Title }} </td>
            <td>{{ Movies.Average_Rank }} </td>
            </tr>
        {% endfor %}
</table>

<h5>Genre Statistics:</h5>
       <table border="=1" >
    <th>Title</th>
        {% for Movies in sql_res3%}
            <tr>
            <td>{{ Movies.title }} </td>
            </tr>
        {% endfor %}
</table>

</div>

</body>

