{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Al-Netek!</title>
</head>
<body id="rank-page">

<script src="https://kit.fontawesome.com/7ce0912b14.js" crossorigin="anonymous"></script>
  <header>
    <nav id="navbar">
      <div class="container">
        <h1 class="logo"><a href="index.html"><i class="fas fa-tv " id="NETEK"> </i> AL-</a><a href="index.html" >NETEK.</a></h1>
        <ul>
          <li><a  href="index">Home</a></li>
          <li><a  href="Query">Query Result</a></li>
          <li><a href="Records">Records Management</a></li>
            <li><a class="current" href="Rankings">Rankings</a></li>
        </ul>
      </div>
    </nav> </header>
<div class="container">
<div id="title">
    <br>
    <h1>Rankings.</h1>
</div>

<div id="box"  >
<h2 id="box-title">ADD NEW RANK</h2>
<form method="POST" action="addNewRank">
{% csrf_token %}
<div id="input-box">
Select hID <select name="hID" required>
<option selected="true" disabled = "disabled" value="">-- Select an option --</option>
{% for item in sql_res_hid %}
    <option>{{ item.hid }}</option>
    {% endfor %}
</select>
</div>

<div id="input-box">
Select Program Name <select  name="title" required>
<option selected="true" disabled = "disabled" value="">-- Select an option --</option>
{% for item in sql_res_programs_names %}
    <option>{{ item.title }}</option>
    {% endfor %}
</select>
</div>


<div id="input-box">
Select rank <select name="rank" required>
    <option selected="true" disabled = "disabled" value="">-- Select an option --</option>
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
</select>
</div>

<button id="submitbtn">ADD</button>
</form>

</div>

<br>


<div id="box">
<h2 id="box-title">EXPLORE TOP 5 SPOKEN PROGRAM</h2>
<form method="POST", action="submitNumber">
<div id="input-box">
    Select Genre
    <select name="genre" required>
    <option selected="true" disabled = "disabled" value="">-- Select an option --</option>
    {% for item in at_least_five %}
        <option>{{ item.genre }}</option>
    {% endfor %}
    </select>

    {% csrf_token %}
    Min Rank <input type="number" max="1000000000" pattern="[0-9]+" min="0" name = "minNumber" required><br></select>
</div>
<button id="submitbtn">SEARCH</button>
<br>
</form>




<h2 id="box-title">RESULT</h2>
    <table border="=1">
    <th>Title</th>
    <th>Average Rank</th>
        {% for content in top_five_spoken_genre %}
            <tr>
            <td>{{ content.title }} </td>
            <td>{{ content.Average_Rank}} </td>
            </tr>
        {% endfor %}

</table>
</div>
</div>







</body>