{% load static %}
{% csrf_token %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Al-Netek!</title>
</head>
<body id="record-page">

<script src="https://kit.fontawesome.com/7ce0912b14.js" crossorigin="anonymous"></script>
  <header>
    <nav id="navbar">
      <div class="container">
        <h1 class="logo"><a href="index.html"><i class="fas fa-tv " id="NETEK"> </i> AL-</a><a href="index.html" >NETEK.</a></h1>
        <ul>
          <li><a  href="index">Home</a></li>
          <li><a  href="Query">Query Result</a></li>
          <li><a class="current" href="Records">Records Management</a></li>
            <li><a href="Rankings">Rankings</a></li>
        </ul>
      </div>
    </nav> </header>
<div class="container">
<div id="title">
    <h1>Records Management.</h1>
</div>



    <div id="box">
    <h2 id="box-title">ORDER RECORD</h2>

    <form method="POST" action="orderNewRecord">
        {% csrf_token %}
        <div id="input-box">
            <label id="hidlabel">House Hold ID</label>
        <input id="input-field"  type="number" max="1000000000" pattern="[0-9]+" min="0"  name="hid" required>

        </div>
        <div id="input-box">
            <label>Title</label>
        <input  type="text"  name="title" required>


        </div>
        <button id="submitbtn">SUBMIT</button>

    </form>
    </div>


    <div id="box">
    <h2 id="box-title">RETURN RECORD</h2>
     <form method="POST" action="returnRecord">
    {% csrf_token %}
    <div id="input-box">
         <label id="hidlabel">House Hold ID</label>
        <input   type="number" max="1000000000" pattern="[0-9]+" min="0"  name="hid_2" required>

    </div>
    <div id="input-box">
         <label>Title</label>
        <input  type="text"  name="title_2" required>

    </div>
        <button id="submitbtn">SUBMIT</button>
          </form>
       </div>
{% if SubmitSent == True %}
        <h4>{{ cause }}</h4>
    {% endif %}

<br>
<div id="box">
<h2 id="box-title"> Top 3 hID Clients</h2>
       <table border="=1" >
    <th>hID</th>
    <th>Total Orders</th>
        {% for item in sql_res1%}
            <tr>
            <td>{{ item.hID }} </td>
            <td>{{ item.Total_Orders }} </td>
            </tr>
        {% endfor %}
     </table>
</div>

</div>

</body>