{% load static %}
{% csrf_token %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Al-Netek!</title>
</head>
<body>

<script src="https://kit.fontawesome.com/7ce0912b14.js" crossorigin="anonymous"></script>
  <header>
    <nav id="navbar">
      <div class="container">
        <h1 class="logo"><a href="index.html"><i class="fas fa-tv " id="NETEK"> </i> AL-</a><a href="index.html" >NETEK.</a></h1>
        <ul>
          <li><a  href="index">Home</a></li>
          <li><a  href="Query">Query Result</a></li>
          <li><a class="current" href="Records">Records Management</a></li>
            <li><a href="Rankings">Rankings</a></li>
        </ul>
      </div>
    </nav> </header>
<div class="container">
<div id="title">
    <h1>Records Management</h1>
</div>
    {% if SubmitSent == True %}
        <h4>{{ cause }}</h4>
    {% endif %}


    <div id="box">
    <h1 id="box-title">ORDER</h1>
    <form method="POST" action="orderNewRecord">
        {% csrf_token %}
        <div id="input-box">
        <input id="input-field"  type="number"  name="hid" required>
        <label id="hidlabel">HouseHold ID</label>
        </div>
        <div id="input-box">
        <input  type="text"  name="title" required>
        <button id="submitbtn">SUBMIT</button>
            <label>Title</label>
        </div>

    </form>
    </div>


    <div id="box2">
    <h1 id="box-title">RETURN</h1>
     <form method="POST" action="returnRecord">
    {% csrf_token %}
    <div id="input-box">
        <input   type="number"  name="hid_2" required>
            <label id="hidlabel">HouseHold ID</label>
    </div>
    <div id="input-box">
        <input  type="text"  name="title_2" required>
            <label>Title</label>
    </div>
        <button id="submitbtn">SUBMIT</button>
          </form>
       </div>




       <table border="=1" >
    <th>hID</th>
    <th>Total Orders</th>
        {% for item in sql_res1%}
            <tr>
            <td>{{ item.hID }} </td>
            <td>{{ item.Total_Orders }} </td>
            </tr>
        {% endfor %}
     </table>

</div>

</body>